<div class="sticky-top" style="background-color: green; color: white">
  <app-number-list [listLength]=5></app-number-list>
</div>
<div class="container-fluid">
  <div class="row vh-100">
    <div class="col px-0 mh-100 overflow-auto" style="max-width: 200px; min-width: 200px;">
      <div style="background-color: red; color: white">
        <app-number-list [listLength]=50></app-number-list>
      </div>
    </div>
    <div class="col px-0 mh-100 overflow-auto">
      <div style="background-color: blue; color: white">
        <app-number-list [listLength]=5></app-number-list>
      </div>
    </div>
  </div>
</div>
<div class="fixed-bottom" style="background-color: green; color: white">
  <app-number-list [listLength]=5></app-number-list>
</div>
