<ng-template #head>
  <div style="background-color: green; color: white;">
    <div>head</div>
    <app-number-list [listLength]=4></app-number-list>
    <input type="range" class="w-100 form-control-range" [(ngModel)]="sideWidth" max=500>
  </div>
</ng-template>

<ng-template #side>
  <div style="background-color: red; color: white">
    <div>side</div>
    <app-number-list [listLength]=50></app-number-list>
  </div>
</ng-template>

<ng-template #main>
  <div style="background-color: blue; color: white">
    <div>main</div>
    <app-number-list [listLength]=40></app-number-list>
  </div>
  <div style="background-color: yellow;">
    <div>main2 aaaaaaaaaaaaaaa</div>
    <app-number-list [listLength]=6></app-number-list>
  </div>
</ng-template>

<ng-template #foot>
  <div style="background-color: green; color: white;">
    <div>foot</div>
    <app-number-list [listLength]=3></app-number-list>
  </div>
</ng-template>




<ng-template #test>
  <div style="background-color: purple; color: white">
    <div>test</div>
    <app-number-list [listLength]=3></app-number-list>
  </div>
</ng-template>

<app-layout3 [sideWidth]="sideWidth">
  <ng-container head *ngTemplateOutlet="head"></ng-container>
  <ng-container side *ngTemplateOutlet="side"></ng-container>
  <ng-container main *ngTemplateOutlet="main"></ng-container>
  <ng-container foot *ngTemplateOutlet="foot"></ng-container>
</app-layout3>
